    $blueColor: #017aff;
    $redColor: #ff6666;
    $greenColor:#54da3f;
    $yellowColor:#ffd234;
    $fontSpanColor: #999999;
    $fontTitleColor:#333333;
    $bodyBgc:#f5f5f5;
    $bodyContentBgc:#fff;
    $iconFontColor:#666666;
    $rem:75;
    $pre:-webkit-;
    /*单位转换*/
    @function rem($n) {
        @return #{$n/$rem}rem;
    }
    @mixin doubleBtmStyle ($bfb) {
        width: 100%;
        position: fixed;
        bottom: 0rem;
        left: 0rem;
        background-color: $bodyContentBgc;
        .common-tabbar {
            float: left;
            width: $bfb;
            height: 100%;
            text-align: center;
            overflow: hidden;
            padding-top: rem(20);
            padding-bottom: rem(11);
            img {
                display: block;
                // width: rem(39);
                height: rem(40);
                margin: 0 auto;
                margin-bottom: rem(12);
            }
            span {
                display: block;
                font-size: rem(20);
                color: $iconFontColor;
            } 
        }
    }

    