@charset "UTF-8";
/* Reset css*/
body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma,Arial,"微软雅黑","宋体";
  font-size: 12px;
  color: #434343;
}

body {
  _overflow: auto;
  _height: 100%;
  margin: 0 auto;
}

html {
  _overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-variant: normal;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: courier new,courier,monospace;
}

small {
  font-size: 12px;
}

ul, ol, li, dl, dt, dd {
  list-style: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font: 12px/1.5 tahoma,arial,sans-serif;
  vertical-align: middle;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  zoom: 1;
}

/*Vue渲染时，清除{{}}显示*/
[v-cloak] {
  display: none;
}

/*a*/
a {
  text-decoration: none;
}

/* 设置滚动条的样式 */
.RemoveScrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 滚动槽 */
.RemoveScrollbar::-webkit-scrollbar-track {
  height: 0;
}

/*清除IOS overflow:scroll与overflow:auto 的滚动卡顿*/
.RemoveRollCar {
  -webkit-overflow-scrolling: touch;
}

/*两行省略*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*一行省略*/
.one_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  display: table;
}

.table_cell {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  resize: none;
}

a:hover {
  text-decoration: none;
}

input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none;
}

.weui-toast {
  top: 45% !important;
  margin-left: 0 !important;
}

.weui-icon_toast.weui-loading {
  margin: 30px 0 0;
  width: 1em !important;
  height: 1em !important;
  vertical-align: baseline;
}

.weui-toast_content {
  line-height: 3em;
}

html {
  height: 100%;
  background-color: #f5f5f5;
}

img, input {
  border: none;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.active {
  color: #017aff;
}

/*单位转换*/
#em-information {
  height: 100%;
  padding: 0.42667rem 0.41333rem 0rem;
  background-color: #f5f5f5;
}

#em-information .em-information-box {
  padding: 0 0.32rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.33333rem 0rem 0.8rem -1.6rem #000, -1.33333rem 0rem 0.8rem -1.6rem #000;
}

#em-information .em-information-box ul li {
  display: block;
  border-bottom: 0.01333rem solid #f5f5f5;
  line-height: 1.17333rem;
}

#em-information .em-information-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#em-information .em-information-box ul li p {
  display: block;
  float: left;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
}

#em-information .em-information-box ul li span {
  display: block;
  float: right;
  color: #999999;
  font-size: 0.34667rem;
  line-height: 1.2rem;
}

#em-information .em-information-box ul li a {
  display: block;
  float: right;
  font-size: 0.34667rem;
  color: #017aff;
  border: none;
  border: 0.01333rem solid #017aff;
  border-width: 0.01333rem;
  text-align: center;
  line-height: 1;
  list-style: none;
  padding: 0.13333rem 0.16rem;
  border-radius: 0.08rem;
  margin-top: 0.32rem;
  margin-left: 0.13333rem;
  background-color: #fff;
}

#common-footer-double {
  width: 100%;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  background-color: #fff;
}

#common-footer-double .common-tabbar {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding-top: 0.26667rem;
  padding-bottom: 0.14667rem;
}

#common-footer-double .common-tabbar img {
  display: block;
  height: 0.53333rem;
  margin: 0 auto;
  margin-bottom: 0.16rem;
}

#common-footer-double .common-tabbar span {
  display: block;
  font-size: 0.26667rem;
  color: #666666;
}

#common-footer-double .common_tabbar_now span {
  color: #017aff;
}

#common-footer-fourth {
  width: 100%;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  background-color: #fff;
}

#common-footer-fourth .common-tabbar {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding-top: 0.26667rem;
  padding-bottom: 0.14667rem;
}

#common-footer-fourth .common-tabbar img {
  display: block;
  height: 0.53333rem;
  margin: 0 auto;
  margin-bottom: 0.16rem;
}

#common-footer-fourth .common-tabbar span {
  display: block;
  font-size: 0.26667rem;
  color: #666666;
}

#common-footer-fourth .common_tabbar_now span {
  color: #017aff;
}

#fw-update {
  height: 100%;
  padding: 0.42667rem 0.41333rem 0rem;
  background-color: #f5f5f5;
}

#fw-update .fw-update-box {
  padding: 0 0.32rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.33333rem 0rem 0.8rem -1.6rem #000, -1.33333rem 0rem 0.8rem -1.6rem #000;
}

#fw-update .fw-update-box ul li {
  display: block;
  border-bottom: 0.01333rem solid #f5f5f5;
  line-height: 1.17333rem;
}

#fw-update .fw-update-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#fw-update .fw-update-box ul li p {
  display: block;
  float: left;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
}

#fw-update .fw-update-box ul li span {
  display: block;
  float: right;
  color: #999999;
  font-size: 0.34667rem;
  line-height: 1.2rem;
}

#fw-update .fw-update-notes {
  color: #999999;
  font-size: 0.34667rem;
  margin-top: 0.34667rem;
}

#fw-update .fw-update-btn {
  width: 100%;
  font-size: 0.48rem;
  color: #fff;
  background-color: #017aff;
  text-align: center;
  padding: 0.34667rem 0;
  border: none;
  border-radius: 0.13333rem;
  margin-top: 0.8rem;
}

#bs-state {
  height: 100%;
  padding: 0.42667rem 0.41333rem 0rem;
  background-color: #f5f5f5;
}

#bs-state .bs-state-box {
  padding: 0 0.32rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.33333rem 0rem 0.8rem -1.6rem #000, -1.33333rem 0 0.8rem -1.6rem #000;
}

#bs-state .bs-state-box ul li {
  display: block;
  border-bottom: 0.01333rem solid #f5f5f5;
  line-height: 1.17333rem;
}

#bs-state .bs-state-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#bs-state .bs-state-box ul li p {
  display: block;
  float: left;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
}

#bs-state .bs-state-box ul li span {
  display: block;
  float: right;
  color: #999999;
  font-size: 0.34667rem;
  line-height: 1.2rem;
}

#bs-state .bs-state-box ul li .bs-state-green {
  color: #54da3f;
}

#bs-state .bs-state-state {
  font-size: 0.37333rem;
  color: #333333;
  margin-top: 0.37333rem;
  margin-bottom: 0.29333rem;
  margin-left: 0.32rem;
}

#bs-state .bs-state-progress-box {
  padding: 0.32rem;
  border-radius: 0.13333rem;
  background-color: #fff;
  -webkit-appearance: none;
  box-shadow: 0.02667rem 0.02667rem 0.13333rem 0.00013rem #666666;
}

#bs-state .bs-state-progress-box ul li {
  font-size: 0.34667rem;
  color: #999999;
  margin-right: 1.70667rem;
  float: left;
}

#bs-state .bs-state-progress-box ul li:nth-last-child(1) {
  margin-right: 0;
}

#bs-state .bs-state-progress-box .bs-state-progress {
  width: 100%;
  border-radius: 0.13333rem;
  height: 0.48rem;
  background: #ebebeb;
  margin-top: 0.26667rem;
}

#bs-state .bs-state-progress-box .bs-state-progress .progress-inner {
  border-top-left-radius: 0.13333rem;
  border-bottom-left-radius: 0.13333rem;
  width: 1%;
  height: 100%;
  background: #ffd234;
  transition: 2s;
}

#bs-state .bs-state-progress-box .bs-state-prompt {
  height: 0.34667rem;
  margin-top: 0.32rem;
}

#bs-state .bs-state-progress-box .bs-state-prompt span {
  display: inline-block;
  font-size: 0.34667rem;
  color: #999999;
  vertical-align: top;
  line-height: 1;
  float: left;
}

#bs-state .bs-state-progress-box .bs-state-prompt span:nth-child(3) {
  margin-left: 0.72rem;
}

#bs-state .bs-state-progress-box .bs-state-prompt i {
  vertical-align: top;
  display: inline-block;
  float: left;
  width: 0.34667rem;
  height: 0.34667rem;
  margin-left: 0.10667rem;
}

#bs-state .bs-state-progress-box .bs-state-prompt i:nth-child(2) {
  background-color: #ffd234;
}

#bs-state .bs-state-progress-box .bs-state-prompt i:nth-child(4) {
  background-color: #ebebeb;
}

#call-record .call-record-bookbar {
  width: 100%;
  background-color: #fff;
  padding-top: 0.26667rem;
  padding-bottom: 0.26667rem;
  position: relative;
}

#call-record .call-record-bookbar .call-record-bookbar-ul {
  border: 0.02667rem solid #017aff;
  border-radius: 0.13333rem;
  width: 6.02667rem;
  text-align: center;
  margin: 0 auto;
}

#call-record .call-record-bookbar .call-record-bookbar-ul li {
  display: block;
  float: left;
  width: 33%;
  text-align: center;
  border: none;
  font-size: 0.34667rem;
  padding: 0.21333rem 0 0.24rem;
  color: #017aff;
  background-color: #fff;
}

#call-record .call-record-bookbar .call-record-bookbar-ul li:nth-child(2) {
  border-left: 0.01333rem solid #017aff;
  border-right: 0.01333rem solid #017aff;
}

#call-record .call-record-bookbar .call-record-bookbar-ul li:nth-child(3) {
  float: right;
}

#call-record .call-record-bookbar .call-record-bookbar-ul .c-record-bkul-active {
  background-color: #017aff;
  color: #fff;
  border: 0.01333rem solid #017aff;
  border-radius: 10;
}

#call-record .call-record-bookbar .call-record-bookbar-del {
  width: 0.6rem;
  height: 0.53333rem;
  position: absolute;
  right: 0.37333rem;
  top: 0.50667rem;
}

#call-record .call-record-list {
  display: none;
  background-color: #fff;
  margin-top: 0.26667rem;
  padding: 0rem 0.37333rem 0rem 0.85333rem;
}

#call-record .call-record-list ul li {
  border-bottom: 0.01333rem solid #f1f1f1;
  padding-bottom: 0.32rem;
  position: relative;
  padding-top: 0.26667rem;
}

#call-record .call-record-list ul li:nth-last-child(1) {
  border: none;
}

#call-record .call-record-list ul li .call-record-list-left {
  float: left;
}

#call-record .call-record-list ul li .call-record-list-left p {
  font-size: 0.4rem;
  color: #333333;
}

#call-record .call-record-list ul li .call-record-list-left p .call-state {
  width: 0.4rem;
  height: 0.41333rem;
  position: absolute;
  top: 0.32rem;
  left: -0.50667rem;
}

#call-record .call-record-list ul li .call-record-list-left p span {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

#call-record .call-record-list ul li .call-record-list-left p .call-tape {
  width: 0.28rem;
  height: 0.45333rem;
}

#call-record .call-record-list ul li .call-record-list-left span {
  display: block;
  margin-top: 0.18667rem;
}

#call-record .call-record-list ul li .call-record-list-right {
  float: right;
  margin-top: 0.26667rem;
  color: #999999;
}

#call-record .call-record-list ul li .call-record-list-right .call-seected {
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
  margin-left: 0.18667rem;
  display: none;
}

#call-record .call-record-list ul li .call-record-list-right .checkchange {
  display: none;
}

#call-record .call-record-list ul li .call-record-list-right .inline-show {
  display: inline-block;
}

#call-record .call-record-list ul li .call-record-list-right input[type="checkbox"] {
  -webkit-appearance: none;
  margin-left: 0.18667rem;
}

#call-record .call-record-list ul li .call-record-list-right input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff url(../img/ico-wait-no.png);
  background-size: 100%;
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
}

#call-record .call-record-list ul li .call-record-list-right input[type="checkbox"]:checked {
  background: #fff url(../img/ico-wait-y.png);
  background-size: 100%;
}

#call-record .call-record-container {
  height: 1.30667rem;
  background-color: #fff;
  position: fixed;
  bottom: 1.6rem;
  width: 100%;
}

#call-record .call-record-container .call-record-container-btn {
  text-align: center;
  height: 100%;
  line-height: 1.30667rem;
  display: none;
}

#call-record .call-record-container .call-record-container-btn a {
  display: block;
  width: 100%;
  height: 100%;
}

#call-record .call-record-container .call-record-container-btn a img {
  width: 0.45333rem;
  height: 0.45333rem;
  vertical-align: middle;
  margin-top: -0.05333rem;
}

#call-record .call-record-container .call-record-container-btn a span {
  display: inline-block;
  font-size: 0.4rem;
  color: #999999;
  margin-left: 0.13333rem;
}

#call-record .call-record-container .call-record-container-check {
  text-align: center;
  height: 100%;
  width: 50%;
  line-height: 1.28rem;
  float: left;
  padding-top: 0.16rem;
  box-sizing: border-box;
  display: none;
}

#call-record .call-record-container .call-record-container-check:nth-of-type(2) img {
  width: 0.36rem;
  height: 0.48rem;
}

#call-record .call-record-container .call-record-container-check:nth-of-type(3) img {
  width: 0.42667rem;
  height: 0.42667rem;
}

#call-record .call-record-container .call-record-container-check img {
  vertical-align: middle;
  display: block;
  margin-bottom: 0;
  margin: 0 auto;
  margin-bottom: 0.08rem;
}

#call-record .call-record-container .call-record-container-check span {
  display: block;
  font-size: 0.4rem;
  color: #999999;
  line-height: 1;
}

#call-details .call-details-head {
  height: 4.82667rem;
  background: url("../img/banner-1.png");
  width: 100%;
  position: relative;
}

#call-details .call-details-head .call-details-head-left {
  position: absolute;
  bottom: 0rem;
  left: 0.42667rem;
}

#call-details .call-details-head .call-details-head-left h2 {
  font-size: 0.64rem;
  color: #fff;
  margin-bottom: 0.32rem;
}

#call-details .call-details-head .call-details-head-left span {
  display: block;
  font-size: 0.48rem;
  color: #fff;
  margin-bottom: 0.4rem;
}

#call-details .call-details-head .call-details-head-right {
  position: absolute;
  bottom: 0rem;
  right: 0.42667rem;
}

#call-details .call-details-head .call-details-head-right a span {
  display: inline-block;
  font-size: 0.4rem;
  color: #fff;
  margin-bottom: 0.4rem;
  margin-left: 0.13333rem;
}

#call-details .call-details-head .call-details-head-right a img {
  width: 0.50667rem;
  height: 0.50667rem;
  vertical-align: top;
}

#call-details .call-details-content {
  padding: 0 0.42667rem;
  background-color: #fff;
}

#call-details .call-details-content ul li {
  padding: 0.4rem 0;
  border-bottom: 0.01333rem solid #f1f1f1;
}

#call-details .call-details-content ul li:nth-last-child(1) {
  border-bottom: none;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left {
  float: left;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left input[type="checkbox"] {
  -webkit-appearance: none;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff url(../img/ico-wait-no.png);
  background-size: 100%;
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left input[type="checkbox"]:checked {
  background: #fff url(../img/ico-wait-y.png);
  background-size: 100%;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left input {
  display: inline-block;
  margin-top: -0.88rem;
  margin-right: 0.34667rem;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left .message {
  display: inline-block;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left .message h4 {
  font-size: 0.4rem;
  color: #333333;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-left .message p {
  font-size: 0.4rem;
  color: #999999;
  margin-top: 0.34667rem;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-right {
  float: right;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-right span {
  display: block;
  font-size: 0.4rem;
  color: #999999;
  text-align: right;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-right .incoming {
  margin-top: 0.18667rem;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-right .incoming img {
  width: 0.4rem;
  height: 0.41333rem;
  margin-right: 0.13333rem;
}

#call-details .call-details-content ul li .call-details-content-box .call-details-content-right .incoming span {
  display: inline-block;
  color: #666666;
  font-size: 0.4rem;
}

#call-details .call-details-content ul li .call-details-content-video {
  margin-top: 0.4rem;
  padding-left: 0.66667rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .gif {
  float: left;
  margin-right: 0.32rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .gif img {
  width: 0.45333rem;
  height: 0.72rem;
  margin-top: 0.17333rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right {
  float: left;
  position: relative;
  width: 7.6rem;
  height: 1.06667rem;
  border-radius: 0.53333rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right .small-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0.13333rem solid transparent;
  border-right: 0.24rem solid #f5f5f5;
  border-bottom: 0.13333rem solid transparent;
  top: 50%;
  left: -0.18667rem;
  margin-top: -0.12rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right .click-audio {
  position: absolute;
  height: 100%;
  border-top-left-radius: 0.53333rem;
  border-bottom-left-radius: 0.53333rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right .click-audio img {
  float: left;
  width: 0.34667rem;
  height: 0.48rem;
  margin-left: 0.29333rem;
  margin-right: 0.08rem;
  margin-top: 0.26667rem;
  vertical-align: middle;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right .click-audio span {
  float: left;
  display: block;
  height: 100%;
  line-height: 1.06667rem;
  color: #343434;
  font-size: 0.34667rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right .audio-time {
  position: absolute;
  right: 0.24rem;
  height: 100%;
  line-height: 1.06667rem;
  font-size: 0.34667rem;
  color: #999999;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right #touchline {
  height: 1.06667rem;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 0.26667rem;
}

#call-details .call-details-content ul li .call-details-content-video .voice .right #touchline .circle {
  width: 0;
  height: 1.06667rem;
  background-color: #54da3f;
  border-radius: 0.26667rem;
}

#call-details .call-details-container {
  height: 1.28rem;
  background-color: #fff;
  position: absolute;
  bottom: 1.52rem;
  width: 100%;
}

#call-details .call-details-container .call-details-container-check {
  text-align: center;
  height: 100%;
  width: 50%;
  line-height: 1.28rem;
  float: left;
  padding-top: 0.16rem;
  box-sizing: border-box;
}

#call-details .call-details-container .call-details-container-check:nth-of-type(1) img {
  width: 0.36rem;
  height: 0.48rem;
}

#call-details .call-details-container .call-details-container-check:nth-of-type(2) img {
  width: 0.42667rem;
  height: 0.42667rem;
}

#call-details .call-details-container .call-details-container-check img {
  vertical-align: middle;
  display: block;
  margin-bottom: 0;
  margin: 0 auto;
  margin-bottom: 0.08rem;
}

#call-details .call-details-container .call-details-container-check span {
  display: block;
  font-size: 0.4rem;
  color: #999999;
  line-height: 1;
}

#phone-dial {
  position: absolute;
  height: 100%;
  background-color: #fff;
  padding-top: 0.72rem;
}

#phone-dial .phone-dial-value {
  font-size: 0.64rem;
  color: #333333;
  text-align: center;
  height: 0.61333rem;
}

#phone-dial .phone-dial-add {
  font-size: 0.48rem;
  color: #333333;
  text-align: center;
  margin-top: 0.45333rem;
}

#phone-dial .phone-dial-add a {
  color: #333333;
}

#phone-dial ul {
  margin-top: 0.74667rem;
  padding: 0 1.36rem;
}

#phone-dial ul li {
  width: 1.94667rem;
  height: 1.94667rem;
  border-radius: 50%;
  margin-bottom: 0.34667rem;
  text-align: center;
  float: left;
  background-color: #e5e5e5;
}

#phone-dial ul li:nth-of-type(3n-1) {
  margin-left: 0.72rem;
  margin-right: 0.72rem;
}

#phone-dial ul li:nth-of-type(10) p {
  margin-top: 0;
  line-height: 1.94667rem;
}

#phone-dial ul li:nth-of-type(12) p {
  margin-top: 0;
  line-height: 1.94667rem;
}

#phone-dial ul li p {
  font-size: 0.66667rem;
  color: #000;
  margin-top: 0.4rem;
}

#phone-dial ul li span {
  font-size: 0.18667rem;
  color: #000;
}

#phone-dial .phone-dial-call {
  position: relative;
}

#phone-dial .phone-dial-call .phone-dial-call-btn {
  width: 1.94667rem;
  height: 1.94667rem;
  border-radius: 50%;
  background-color: #4cd964;
  margin: 0 auto;
  text-align: center;
  line-height: 2.48rem;
}

#phone-dial .phone-dial-call .phone-dial-call-btn img {
  width: 0.82667rem;
  height: 0.82667rem;
}

#phone-dial .phone-dial-call .phone-dial-call-del {
  position: absolute;
  right: 1.92rem;
  top: 0.53333rem;
  width: 0.66667rem;
  height: 0.66667rem;
  border-radius: 0.2rem;
  float: right;
  background-color: #e5e5e5;
}

#phone-dial .phone-dial-call .phone-dial-call-del .phone-dial-call-del-box {
  position: relative;
  width: 100%;
  height: 100%;
}

#phone-dial .phone-dial-call .phone-dial-call-del .phone-dial-call-del-box .phone-dial-call-triangle {
  position: absolute;
  border-width: 0.33333rem 0.33333rem 0.33333rem 0;
  border-style: solid;
  border-color: transparent #e5e5e5 transparent transparent;
  left: -0.2rem;
  top: 0rem;
}

#phone-dial .phone-dial-call .phone-dial-call-del .phone-dial-call-del-box .phone-dial-call-fork {
  text-align: center;
  font-size: 0.32rem;
  line-height: 0.66667rem;
  font-weight: 600;
  color: #000;
}

#phone-dial .phone-dial-model {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

#phone-dial .phone-dial-model-wait {
  width: 7.46667rem;
  height: 3.86667rem;
  line-height: 3.86667rem;
  text-align: center;
  font-size: 0.45333rem;
  color: #333333;
  background-color: #fff;
  border-radius: 0.13333rem;
  z-index: 2;
  position: fixed;
  top: 30%;
  left: 14%;
  display: none;
}

#phone-dial .phone-dial-model-call {
  width: 7.46667rem;
  height: 3.86667rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  z-index: 2;
  position: fixed;
  top: 30%;
  left: 14%;
  display: none;
}

#phone-dial .phone-dial-model-call .model-call-title {
  text-align: center;
  height: 1.73333rem;
  margin-top: 0.77333rem;
  margin-bottom: 0.48rem;
}

#phone-dial .phone-dial-model-call .model-call-title h2 {
  font-size: 0.45333rem;
  color: #000;
}

#phone-dial .phone-dial-model-call .model-call-title p {
  font-size: 0.37333rem;
  color: #999999;
  margin-top: 0.42667rem;
}

#phone-dial .phone-dial-model-call .model-call-confirm {
  border-top: 0.01333rem solid #d2d3d5;
}

#phone-dial .phone-dial-model-call .model-call-confirm div {
  width: 49%;
  text-align: center;
  font-size: 0.45333rem;
  line-height: 0.85333rem;
  height: 0.85333rem;
}

#phone-dial .phone-dial-model-call .model-call-confirm .cancle {
  color: #000;
  float: left;
  border-right: 0.01333rem solid #d2d3d5;
}

#phone-dial .phone-dial-model-call .model-call-confirm .confirm {
  color: #00c200;
  float: right;
}

#voice-message .voice-message-list {
  display: none;
  background-color: #fff;
  margin-top: 0.26667rem;
  padding: 0rem 0.37333rem 0rem 0.85333rem;
}

#voice-message .voice-message-list ul li {
  border-bottom: 0.01333rem solid #f1f1f1;
  padding-bottom: 0.32rem;
  position: relative;
  padding-top: 0.26667rem;
}

#voice-message .voice-message-list ul li:nth-last-child(1) {
  border: none;
}

#voice-message .voice-message-list ul li .voice-message-list-left {
  float: left;
}

#voice-message .voice-message-list ul li .voice-message-list-left p {
  font-size: 0.4rem;
  color: #333333;
}

#voice-message .voice-message-list ul li .voice-message-list-left p .call-state {
  width: 0.4rem;
  height: 0.41333rem;
  position: absolute;
  top: 0.32rem;
  left: -0.50667rem;
}

#voice-message .voice-message-list ul li .voice-message-list-left p span {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

#voice-message .voice-message-list ul li .voice-message-list-left p .call-tape {
  width: 0.28rem;
  height: 0.45333rem;
}

#voice-message .voice-message-list ul li .voice-message-list-left span {
  display: block;
  margin-top: 0.18667rem;
}

#voice-message .voice-message-list ul li .voice-message-list-right {
  float: right;
  margin-top: 0.26667rem;
  color: #999999;
}

#voice-message .voice-message-list ul li .voice-message-list-right .call-seected {
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
  margin-left: 0.18667rem;
  display: none;
}

#voice-message .voice-message-list ul li .voice-message-list-right .inline-show {
  display: inline-block;
}

#call-rec .call-rec-list {
  display: none;
  background-color: #fff;
  margin-top: 0.26667rem;
  padding: 0rem 0.37333rem 0rem 0.85333rem;
}

#call-rec .call-rec-list ul li {
  border-bottom: 0.01333rem solid #f1f1f1;
  padding-bottom: 0.32rem;
  position: relative;
  padding-top: 0.26667rem;
}

#call-rec .call-rec-list ul li:nth-last-child(1) {
  border: none;
}

#call-rec .call-rec-list ul li .call-rec-list-left {
  float: left;
}

#call-rec .call-rec-list ul li .call-rec-list-left p {
  font-size: 0.4rem;
  color: #333333;
}

#call-rec .call-rec-list ul li .call-rec-list-left p .call-state {
  width: 0.4rem;
  height: 0.41333rem;
  position: absolute;
  top: 0.32rem;
  left: -0.50667rem;
}

#call-rec .call-rec-list ul li .call-rec-list-left p span {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

#call-rec .call-rec-list ul li .call-rec-list-left p .call-tape {
  width: 0.28rem;
  height: 0.45333rem;
}

#call-rec .call-rec-list ul li .call-rec-list-left span {
  display: block;
  margin-top: 0.18667rem;
}

#call-rec .call-rec-list ul li .call-rec-list-right {
  float: right;
  margin-top: 0.26667rem;
  color: #999999;
}

#call-rec .call-rec-list ul li .call-rec-list-right .call-seected {
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
  margin-left: 0.18667rem;
  display: none;
}

#call-rec .call-rec-list ul li .call-rec-list-right .inline-show {
  display: inline-block;
}

#details-message .details-message-head {
  height: 4.82667rem;
  background: url("../img/banner-1.png");
  width: 100%;
  position: relative;
}

#details-message .details-message-head .details-message-head-left {
  position: absolute;
  bottom: 0rem;
  left: 0.42667rem;
}

#details-message .details-message-head .details-message-head-left h2 {
  font-size: 0.64rem;
  color: #fff;
  margin-bottom: 0.32rem;
}

#details-message .details-message-head .details-message-head-left span {
  display: block;
  font-size: 0.48rem;
  color: #fff;
  margin-bottom: 0.4rem;
}

#details-message .details-message-head .details-message-head-right {
  position: absolute;
  bottom: 0rem;
  right: 0.42667rem;
}

#details-message .details-message-head .details-message-head-right a span {
  display: inline-block;
  font-size: 0.4rem;
  color: #fff;
  margin-bottom: 0.4rem;
  margin-left: 0.13333rem;
}

#details-message .details-message-head .details-message-head-right a img {
  width: 0.50667rem;
  height: 0.50667rem;
  vertical-align: top;
}

#details-message .details-message-content {
  padding: 0 0.42667rem;
  background-color: #fff;
}

#details-message .details-message-content ul li {
  padding: 0.4rem 0;
  border-bottom: 0.01333rem solid #f1f1f1;
}

#details-message .details-message-content ul li:nth-last-child(1) {
  border-bottom: none;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left {
  float: left;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left input[type="checkbox"] {
  -webkit-appearance: none;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff url(../img/ico-wait-no.png);
  background-size: 100%;
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left input[type="checkbox"]:checked {
  background: #fff url(../img/ico-wait-y.png);
  background-size: 100%;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left input {
  display: inline-block;
  margin-top: -0.88rem;
  margin-right: 0.34667rem;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left .message {
  display: inline-block;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left .message h4 {
  font-size: 0.4rem;
  color: #333333;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-left .message p {
  font-size: 0.4rem;
  color: #999999;
  margin-top: 0.34667rem;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-right {
  float: right;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-right span {
  display: block;
  font-size: 0.4rem;
  color: #999999;
  text-align: right;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-right .incoming {
  margin-top: 0.18667rem;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-right .incoming img {
  width: 0.4rem;
  height: 0.41333rem;
  margin-right: 0.13333rem;
}

#details-message .details-message-content ul li .details-message-content-box .details-message-content-right .incoming span {
  display: inline-block;
  color: #666666;
  font-size: 0.4rem;
}

#details-message .details-message-content ul li .details-message-content-video {
  margin-top: 0.4rem;
  padding-left: 0.8rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .gif {
  float: left;
  margin-right: 0.21333rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .gif img {
  width: 0.45333rem;
  height: 0.72rem;
  margin-top: 0.17333rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right {
  float: left;
  position: relative;
  width: 7.6rem;
  height: 1.06667rem;
  border-radius: 0.53333rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right .click-audio {
  position: absolute;
  height: 100%;
  border-top-left-radius: 0.53333rem;
  border-bottom-left-radius: 0.53333rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right .click-audio img {
  float: left;
  width: 0.34667rem;
  height: 0.48rem;
  margin-left: 0.29333rem;
  margin-right: 0.08rem;
  margin-top: 0.26667rem;
  vertical-align: middle;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right .click-audio span {
  float: left;
  display: block;
  height: 100%;
  line-height: 1.06667rem;
  color: #343434;
  font-size: 0.34667rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right .audio-time {
  position: absolute;
  right: 0.24rem;
  height: 100%;
  line-height: 1.06667rem;
  font-size: 0.34667rem;
  color: #999999;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right #touchline {
  height: 1.06667rem;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 0.26667rem;
}

#details-message .details-message-content ul li .details-message-content-video .voice .right #touchline .circle {
  width: 0;
  height: 1.06667rem;
  background-color: #54da3f;
  border-radius: 0.26667rem;
}

#bind-device {
  padding: 0 0.4rem;
}

#bind-device .bind-device-content {
  text-align: center;
  margin-top: 1.06667rem;
}

#bind-device .bind-device-content img {
  width: 2.69333rem;
  height: 2.69333rem;
}

#bind-device .bind-device-content p {
  font-size: 0.4rem;
  color: #666666;
  margin: 0;
  margin-top: 0.4rem;
}

#bind-device .bind-device-btn {
  width: 100%;
  background-color: #017aff;
  font-size: 0.48rem;
  color: #fff;
  height: 1.17333rem;
  line-height: 1.17333rem;
  margin-top: 0.82667rem;
  outline: none;
  border: none;
  border-radius: 0.13333rem;
}

#scan-success {
  padding: 0 0.4rem;
}

#scan-success .scan-success-content {
  text-align: center;
  margin-top: 1.06667rem;
}

#scan-success .scan-success-content img {
  width: 2.69333rem;
  height: 2.69333rem;
}

#scan-success .scan-success-content p {
  font-size: 0.48rem;
  color: #333333;
  margin: 0;
  margin-top: 0.4rem;
}

#scan-success .scan-success-box {
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.06667rem 0rem 1.33333rem -1.10667rem #000, -1.33333rem 0rem 1.33333rem -1.14667rem #000;
  margin-top: 0.46667rem;
  padding: 0 0.32rem;
}

#scan-success .scan-success-box ul li {
  display: block;
  border-bottom: 0.01333rem solid #f5f5f5;
  line-height: 1.17333rem;
}

#scan-success .scan-success-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#scan-success .scan-success-box ul li p {
  display: block;
  float: left;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
}

#scan-success .scan-success-box ul li span {
  display: block;
  float: right;
  color: #999999;
  font-size: 0.34667rem;
  line-height: 1.2rem;
}

#scan-success .scan-success-btn {
  width: 100%;
  background-color: #017aff;
  font-size: 0.48rem;
  color: #fff;
  height: 1.17333rem;
  text-align: center;
  line-height: 1.17333rem;
  margin-top: 0.82667rem;
  outline: none;
  border: none;
  border-radius: 0.13333rem;
}

#bind-success {
  padding: 0 0.4rem;
}

#bind-success .bind-success-content {
  text-align: center;
  margin-top: 1.06667rem;
}

#bind-success .bind-success-content img {
  width: 2.69333rem;
  height: 2.69333rem;
}

#bind-success .bind-success-content p {
  font-size: 0.48rem;
  color: #333333;
  margin: 0;
  margin-top: 0.4rem;
}

#bind-success .bind-success-box {
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.06667rem 0rem 1.33333rem -1.10667rem #000, -1.33333rem 0rem 1.33333rem -1.14667rem #000;
  margin-top: 0.46667rem;
  padding: 0 0.32rem;
}

#bind-success .bind-success-box ul li {
  display: block;
  border-bottom: 0.01333rem solid #f5f5f5;
  line-height: 1.17333rem;
}

#bind-success .bind-success-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#bind-success .bind-success-box ul li p {
  display: block;
  float: left;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
}

#bind-success .bind-success-box ul li span {
  display: block;
  float: right;
  color: #999999;
  font-size: 0.34667rem;
  line-height: 1.2rem;
}

#bind-success .bind-success-btn {
  width: 100%;
  background-color: #ff6666;
  font-size: 0.48rem;
  color: #fff;
  height: 1.17333rem;
  text-align: center;
  line-height: 1.17333rem;
  margin-top: 0.82667rem;
  outline: none;
  border: none;
  border-radius: 0.13333rem;
}

#bind-success .bind-success-btn a {
  color: #fff;
}

#untie-success {
  padding: 0 0.4rem;
}

#untie-success .untie-success-content {
  text-align: center;
  margin-top: 1.06667rem;
}

#untie-success .untie-success-content img {
  width: 2.69333rem;
  height: 2.69333rem;
}

#untie-success .untie-success-content p {
  font-size: 0.48rem;
  color: #333333;
  margin: 0;
  margin-top: 0.4rem;
}

#untie-success .untie-success-btn {
  width: 100%;
  background-color: #017aff;
  font-size: 0.48rem;
  color: #fff;
  height: 1.17333rem;
  text-align: center;
  line-height: 1.17333rem;
  margin-top: 0.82667rem;
  outline: none;
  border: none;
  border-radius: 0.13333rem;
}

#phone-book .phone-book-bookbar {
  width: 100%;
  background-color: #fff;
  padding-top: 0.30667rem;
  padding-bottom: 0.26667rem;
  position: relative;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-search {
  border-radius: 0.13333rem;
  width: 7.2rem;
  text-align: center;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: none;
  position: relative;
  height: 0.74667rem;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-search input {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  width: 6.02667rem;
  border-radius: 0.13333rem;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-search .phone-book-search-text {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -0.6rem;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-search .phone-book-search-text img {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  vertical-align: middle;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-search .phone-book-search-text span {
  font-size: 0.32rem;
  color: #999999;
  display: inline-block;
  margin-left: 0.13333rem;
  line-height: 0.74667rem;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-add {
  width: 0.45333rem;
  height: 0.45333rem;
  position: absolute;
  left: 0.42667rem;
  top: 0.45333rem;
}

#phone-book .phone-book-bookbar .phone-book-bookbar-del {
  width: 0.6rem;
  height: 0.53333rem;
  position: absolute;
  right: 0.37333rem;
  top: 0.45333rem;
}

#phone-book .phone-book-list {
  display: none;
  margin-top: 0.26667rem;
  padding: 0rem 0.4rem;
  margin-bottom: 2.66667rem;
}

#phone-book .phone-book-list .phone-book-list-title {
  font-size: 0.4rem;
  color: #666666;
  margin: 0.21333rem 0;
  margin-left: 0.32rem;
}

#phone-book .phone-book-list ul {
  background-color: #fff;
  padding: 0 0.21333rem;
  border-radius: 0.13333rem;
  padding-left: 0.32rem;
}

#phone-book .phone-book-list ul li {
  border-bottom: 0.01333rem solid #f1f1f1;
  padding-bottom: 0.32rem;
  position: relative;
  padding-top: 0.26667rem;
}

#phone-book .phone-book-list ul li:nth-last-child(1) {
  border: none;
}

#phone-book .phone-book-list ul li .phone-book-list-left {
  float: left;
}

#phone-book .phone-book-list ul li .phone-book-list-left p {
  font-size: 0.4rem;
  color: #333333;
}

#phone-book .phone-book-list ul li .phone-book-list-left p span {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

#phone-book .phone-book-list ul li .phone-book-list-right {
  float: right;
  color: #999999;
}

#phone-book .phone-book-list ul li .phone-book-list-right .call-seected {
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
  margin-left: 0.18667rem;
  display: none;
}

#phone-book .phone-book-list ul li .phone-book-list-right .checkchange {
  display: none;
}

#phone-book .phone-book-list ul li .phone-book-list-right .inline-show {
  display: inline-block;
}

#phone-book .phone-book-list ul li .phone-book-list-right input[type="checkbox"] {
  -webkit-appearance: none;
  margin-left: 0.18667rem;
}

#phone-book .phone-book-list ul li .phone-book-list-right input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff url(../img/ico-wait-no.png);
  background-size: 100%;
  width: 0.58667rem;
  height: 0.58667rem;
  vertical-align: middle;
}

#phone-book .phone-book-list ul li .phone-book-list-right input[type="checkbox"]:checked {
  background: #fff url(../img/ico-wait-y.png);
  background-size: 100%;
}

#phone-book .phone-book-container {
  height: 1.30667rem;
  background-color: #fff;
  position: fixed;
  bottom: 1.6rem;
  width: 100%;
}

#phone-book .phone-book-container .phone-book-container-btn {
  text-align: center;
  height: 100%;
  line-height: 1.30667rem;
  display: none;
}

#phone-book .phone-book-container .phone-book-container-btn a {
  display: block;
  width: 100%;
  height: 100%;
}

#phone-book .phone-book-container .phone-book-container-btn a img {
  width: 0.45333rem;
  height: 0.45333rem;
  vertical-align: middle;
  margin-top: -0.05333rem;
}

#phone-book .phone-book-container .phone-book-container-btn a span {
  display: inline-block;
  font-size: 0.4rem;
  color: #999999;
  margin-left: 0.13333rem;
}

#phone-book .phone-book-container .phone-book-container-check {
  text-align: center;
  height: 100%;
  width: 50%;
  line-height: 1.28rem;
  float: left;
  padding-top: 0.16rem;
  box-sizing: border-box;
  display: none;
}

#phone-book .phone-book-container .phone-book-container-check:nth-of-type(2) img {
  width: 0.36rem;
  height: 0.48rem;
}

#phone-book .phone-book-container .phone-book-container-check:nth-of-type(3) img {
  width: 0.42667rem;
  height: 0.42667rem;
}

#phone-book .phone-book-container .phone-book-container-check img {
  vertical-align: middle;
  display: block;
  margin-bottom: 0;
  margin: 0 auto;
  margin-bottom: 0.08rem;
}

#phone-book .phone-book-container .phone-book-container-check span {
  display: block;
  font-size: 0.4rem;
  color: #999999;
  line-height: 1;
}

#phone-book .phone-book-anchor {
  position: fixed;
  right: 0.22667rem;
  top: 2.6rem;
}

#phone-book .phone-book-anchor li {
  display: block;
  margin-bottom: 0.2rem;
}

#phone-book .phone-book-anchor li a {
  color: #999999;
  font-size: 0.32rem;
}

#new-contact {
  height: 100%;
  background-color: #f5f5f5;
}

#new-contact .new-contact-box {
  padding: 0 0.32rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.33333rem 0rem 0.8rem -1.6rem #000, -1.33333rem 0rem 0.8rem -1.6rem #000;
}

#new-contact .new-contact-box ul li {
  display: block;
  border-bottom: 0.02667rem solid #f5f5f5;
  height: 1.2rem;
}

#new-contact .new-contact-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#new-contact .new-contact-box ul li img {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  vertical-align: middle;
  margin-bottom: 0.08rem;
}

#new-contact .new-contact-box ul li p {
  display: inline-block;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
  margin-left: 0.16rem;
}

#new-contact .new-contact-box ul li input {
  display: inline-block;
  width: 6.98667rem;
  height: 1.2rem;
  float: right;
  color: #666666;
  font-size: 0.34667rem;
  border: none;
}

#new-contact .new-contact-box ul li input::-webkit-input-placeholder {
  color: #999999;
}

#new-contact .new-contact-box ul li input:-moz-placeholder {
  　color: #999999;
}

#new-contact .new-contact-box ul li input::-moz-placeholder {
  　color: #999999;
}

#new-contact .new-contact-box ul li input:-ms-input-placeholder {
  　color: #999999;
}

#new-contact .new-contact-btn {
  width: 9.2rem;
  height: 1.2rem;
  text-align: center;
  border: none;
  margin: 0 auto;
}

#new-contact .new-contact-btn button {
  width: 100%;
  height: 100%;
  line-height: 1.2rem;
  color: #fff;
  border-radius: 0.13333rem;
  border: none;
  text-align: center;
}

#new-contact .new-contact-preservation {
  margin-top: 0.8rem;
}

#new-contact .new-contact-preservation button {
  background-color: #017aff;
  font-size: 0.48rem;
}

#new-contact .new-contact-cancle {
  margin-top: 0.29333rem;
}

#new-contact .new-contact-cancle button {
  background-color: #ff6666;
  font-size: 0.48rem;
}

#contact-detail {
  height: 100%;
  background-color: #f5f5f5;
}

#contact-detail .contact-detail-box {
  padding: 0 0.32rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  -webkit-appearance: none;
  box-shadow: 1.33333rem 0rem 0.8rem -1.6rem #000, -1.33333rem 0rem 0.8rem -1.6rem #000;
}

#contact-detail .contact-detail-box ul li {
  display: block;
  border-bottom: 0.02667rem solid #f5f5f5;
  height: 1.2rem;
}

#contact-detail .contact-detail-box ul li:nth-last-child(1) {
  border-bottom: none;
}

#contact-detail .contact-detail-box ul li img {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  vertical-align: middle;
  margin-bottom: 0.08rem;
}

#contact-detail .contact-detail-box ul li p {
  display: inline-block;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
  margin-left: 0.16rem;
}

#contact-detail .contact-detail-box ul li input {
  display: inline-block;
  width: 6.98667rem;
  height: 1.2rem;
  float: right;
  color: #666666;
  font-size: 0.34667rem;
  border: none;
}

#contact-detail .contact-detail-box ul li input::-webkit-input-placeholder {
  color: #999999;
}

#contact-detail .contact-detail-box ul li input:-moz-placeholder {
  　color: #999999;
}

#contact-detail .contact-detail-box ul li input::-moz-placeholder {
  　color: #999999;
}

#contact-detail .contact-detail-box ul li input:-ms-input-placeholder {
  　color: #999999;
}

#contact-detail .contact-detail-btn {
  width: 9.2rem;
  height: 1.2rem;
  text-align: center;
  border: none;
  margin: 0 auto;
}

#contact-detail .contact-detail-btn button {
  width: 100%;
  height: 100%;
  line-height: 1.2rem;
  color: #fff;
  border-radius: 0.13333rem;
  border: none;
  text-align: center;
}

#contact-detail .contact-detail-preservation {
  margin-top: 0.8rem;
}

#contact-detail .contact-detail-preservation button {
  background-color: #017aff;
  font-size: 0.48rem;
}

#contact-detail .contact-detail-cancle {
  margin-top: 0.29333rem;
}

#contact-detail .contact-detail-cancle button {
  background-color: #ff6666;
  font-size: 0.48rem;
}

#init-welcome {
  padding: 0 0.4rem;
}

#init-welcome .init-welcome-content {
  text-align: center;
  margin-top: 1.06667rem;
}

#init-welcome .init-welcome-content img {
  width: 2.69333rem;
  height: 2.69333rem;
}

#init-welcome .init-welcome-content p {
  font-size: 0.4rem;
  color: #666666;
  margin: 0;
  margin-top: 0.4rem;
}

#init-welcome .init-welcome-btn {
  width: 100%;
  background-color: #017aff;
  font-size: 0.48rem;
  color: #fff;
  height: 1.17333rem;
  line-height: 1.17333rem;
  margin-top: 0.82667rem;
  outline: none;
  border: none;
  border-radius: 0.13333rem;
}

.init-welcome-model {
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.init-welcome-model .init-welcome-gif {
  width: 4.58667rem;
  height: 4.58667rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  text-align: center;
  line-height: 4.58667rem;
  margin: 0 auto;
  margin-top: 3.25333rem;
}

.init-welcome-model .init-welcome-gif img {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 0.66667rem;
}

.init-welcome-model p {
  font-size: 0.4rem;
  margin-top: 0.45333rem;
  color: #fff;
}

.init-welcome-model .init-welcome-model-btn {
  background-color: #017aff;
  text-align: center;
  width: 9.2rem;
  height: 1.17333rem;
  line-height: 1.17333rem;
  color: #fff;
  border: none;
  border-radius: 0.13333rem;
  font-size: 0.48rem;
  margin-top: 0.82667rem;
}

#have-welcome {
  margin-top: 0.4rem;
}

#have-welcome .have-welcome-content {
  padding: 0 0.42667rem;
  background-color: #fff;
}

#have-welcome .have-welcome-content ul li {
  padding: 0.45333rem 0;
  border-bottom: 0.01333rem solid #f1f1f1;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video {
  text-align: center;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video p {
  font-size: 0.48rem;
  color: #333333;
  margin-bottom: 0.45333rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .gif {
  float: left;
  margin-right: 0.32rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .gif img {
  width: 0.45333rem;
  height: 0.72rem;
  margin-top: 0.17333rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right {
  float: left;
  position: relative;
  width: 7.6rem;
  height: 1.06667rem;
  border-radius: 0.53333rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right .small-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0.13333rem solid transparent;
  border-right: 0.24rem solid #f5f5f5;
  border-bottom: 0.13333rem solid transparent;
  top: 50%;
  left: -0.18667rem;
  margin-top: -0.12rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right .click-audio {
  position: absolute;
  height: 100%;
  border-top-left-radius: 0.53333rem;
  border-bottom-left-radius: 0.53333rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right .click-audio img {
  float: left;
  width: 0.34667rem;
  height: 0.48rem;
  margin-left: 0.29333rem;
  margin-right: 0.08rem;
  margin-top: 0.26667rem;
  vertical-align: middle;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right .click-audio span {
  float: left;
  display: block;
  height: 100%;
  line-height: 1.06667rem;
  color: #343434;
  font-size: 0.34667rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right .audio-time {
  position: absolute;
  right: 0.24rem;
  height: 100%;
  line-height: 1.06667rem;
  font-size: 0.34667rem;
  color: #999999;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right #touchline {
  height: 1.06667rem;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 0.26667rem;
}

#have-welcome .have-welcome-content ul li .have-welcome-content-video .voice .right #touchline .circle {
  width: 0;
  height: 1.06667rem;
  background-color: #54da3f;
  border-radius: 0.26667rem;
}

#have-welcome .have-welcome-btn-box {
  padding: 0 0.42667rem;
}

#have-welcome .have-welcome-btn-box .have-welcome-btn {
  display: block;
  width: 100%;
  height: 1.17333rem;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0.48rem;
  color: #fff;
  margin: 0 auto;
  border-radius: 0.13333rem;
}

#have-welcome .have-welcome-btn-box .have-welcome-reset-btn {
  background-color: #017aff;
  margin-top: 0.8rem;
}

#have-welcome .have-welcome-btn-box .have-welcome-remove-btn {
  background-color: #ff6666;
  margin-top: 0.32rem;
}

.have-welcome-model {
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.have-welcome-model .have-welcome-gif {
  width: 4.58667rem;
  height: 4.58667rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  text-align: center;
  line-height: 4.58667rem;
  margin: 0 auto;
  margin-top: 3.25333rem;
}

.have-welcome-model .have-welcome-gif img {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 0.66667rem;
}

.have-welcome-model p {
  font-size: 0.4rem;
  margin-top: 0.45333rem;
  color: #fff;
}

.have-welcome-model .have-welcome-model-btn {
  background-color: #017aff;
  text-align: center;
  width: 9.2rem;
  height: 1.17333rem;
  line-height: 1.17333rem;
  color: #fff;
  border: none;
  border-radius: 0.13333rem;
  font-size: 0.48rem;
  margin-top: 0.82667rem;
}
